<%= stylesheet_link_tag "contact", :media => "all" %>
<!--contact-->
<div class="contactForm">
<div class="formstart">
<h1>お問い合わせはこちらから。</h1>
</div>
<form action="http://www2.tba.t-com.ne.jp/cgi-bin/form.cgi" method="POST">
<ul class="contactLists">
  <li class="name">
    <label for="name">お名前</label>
    <input id="name" type="text" name="name">
    <span class="must">※必須</span>
  </li>
  <li class="name">
    <label for="name">カナ</label>
    <input id="name" type="text" name="name">
    <span class="must">※必須</span>
  </li>
  <li class="post">
    <label for="post">郵便番号</label>
    <input id="post" type="text" name="email">
  </li>
  <li class="street">
    <label for="street">ご依頼先住所</label>
    <input id="street" type="text" name="street">
    <span class="must">※必須</span>
  </li>
  <li class="tel">
    <label for="tel">お電話番号</label>
    <input id="tel" type="tel" name="tel">
    <span class="must">※必須</span>
  </li>
  <li class="email">
    <label for="email">メールアドレス</label>
    <input id="email" type="email" name="email">
  </li>
  <li class="parking">
    <label for="parking">駐車場の有無</label>
    <input id="sex" type="radio" name="parking" value="あり">
    <label for="yes" id=choice>あり</label>
    <input id="sex" type="radio" name="parking" value="なし">
    <label for="no" id="choice" >なし</label>
    <span class="must">※必須</span>
  </li>
  <li class="contact">
    <label for="contact">お問い合わせ内容</label>
    <textarea id="msg" name="msg" size="100"></textarea>
  </li>
</ul>
  <p class="messeage">上記内容をご確認の後、送信ボタンをクリックしてください。</p>
  <p class="btn"><input id="button" type="submit" name="button" value="送信"></p>
</form>
<!---->
<div class="Contactbox">
<dl>
  <dt>お電話でのお問い合わせはこちらから</dt>
  <dd>
    <p class="telRow">  <%= image_tag "tell.jpg", alt: "Rails icon", id: "assets", class: "image" %><span>072-432-2212</span></p>
    <p class="time">受付時間：AM0:00〜PM23:59(祝日を除く)</p>
  </dd>
</dl>
</div>
</div>
</body>